#root {
  width: 60rem;
  margin: 0 auto; /* Center the parent container */
}

.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Auth {
  width: 100%; /* Occupy full width */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.267);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(44, 44, 44, 0.151);
  padding: 2rem; /* Use percentage-based padding */
}

h4 {
  margin: 1.25rem 0 !important;
}

.Auth form {
  width: 50%;
  height: 100%;
  padding: 1.25rem;
  text-align: center;
  box-sizing: border-box;
}

.formgroup {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

input {
  height: 1.25rem !important;
}

input:focus {
  outline-color: green !important;
}

button {
  background-color: teal !important;
  height: 2.8125rem !important;
}

img {
  width: 47%;
  height: 100%;
  box-sizing: border-box;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  padding: 0.3125rem;
}

span {
  text-align: start;
  padding: 0.625rem !important;
  font-size: 0.75rem;
}

p {
  color: gray;
}

/* Media query for screens at or below 48.75rem */
@media (max-width: 48.75rem) {
  .Auth {
    flex-direction: column;
    align-items: center;
    display: flex; /* Center form horizontally */
    justify-content: center;
  }

  .Auth img {
    opacity: 0.2;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(5px);
    position: absolute;
    z-index: -1;
  }

  .Auth form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 5px;
    z-index: 1;
    max-width: 30rem; /* Control form width */
  }
}
