.middle .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
    width: 100%;
  }
  
  .middle .stories .story {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .middle .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent,rgba(0,0,0,0.75));
    position: absolute;
    bottom: 0;
  }

  .middle .stories .story .name{
    z-index: 2;
  }

  .middle .story .profile-photo{
    width: 2rem;
    height: 2rem;
    /* align-self: start; */
    align-self: center;
    border: 3px solid var(--color-primary);
  }


  .middle .stories .story:nth-child(1) {
    background: url("../../assets/story-1.jpg") no-repeat center center/cover;
  }
  
  .middle .stories .story:nth-child(2) {
    background: url("../../assets/story-2.jpg") no-repeat center center/cover;
  }
  
  .middle .stories .story:nth-child(3) {
    background: url("../../assets/story-3.jpg") no-repeat center center/cover;
  }
  
  .middle .stories .story:nth-child(4) {
    background: url("../../assets/story-4.jpg") no-repeat center center/cover;
  }
  
  .middle .stories .story:nth-child(5) {
    background: url("../../assets/story-5.jpg") no-repeat center center/cover;
  }
  .middle .stories .story:nth-child(6) {
    background: url("../../assets/story-6.jpg") no-repeat center center/cover;
  }

  /* Feed Styling */
.middle .feeds .feed {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

.middle .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feed .user {
  display: flex;
  gap: 1rem;
}

.middle .feed .photo {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.middle .feed .action-buttons i{
  margin: .4rem;
}

.middle .liked-by {
  display: flex;
}

.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;

}

.middle .liked-by p {
  margin-left: 0.5rem;
}