.postshare{
    width: 100%;   
    display: flex;
    align-items: start;   
    justify-content: space-between;
    margin-top: 1rem;   
    background: var(--color-white);
    padding: var(--card-padding);   
    border-radius: var(--card-border-radius);
}

.postshare .share-field input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
  }

.share-field{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
}

.postOptions{
    display: flex;
    justify-content: space-around;
    
}

.postOptions > div{
    display: flex;
    gap: 2rem;
}


.option{
    padding: .5rem 1rem;
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    gap: .5rem;
}

.option:hover{
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.previewImage{
    position: relative;
}

.previewImage>svg{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
    color: var(--color-primary);
}

.previewImage>img{
    width: 100%;
    max-height:20rem ;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* for vedio */
.previewVideo{
    position: relative;
}

.previewVideo>video{
    width: 100%;
    max-height:20rem ;
    object-fit: cover;
    border-radius: 0.5rem;
}

.previewVideo>svg{
    position: absolute; 
    right: 1rem;
    top: 0.5rem; 
    cursor: pointer;
    color: var(--color-primary);
    
}

/* .crossicon{
    position: relative;
    color: var(--color-primary);
    z-index: 100;
    top: 2rem;
    left: 31rem;
} */

